:root {
  --black: #000000;
  --almostBlack: hsla(0, 0%, 9%, 0.45);
  --darkGray: #2A2A2A;
  --gray: #3B3B3B;
  --selectedGray: #525252;
  --textGray: gray;
  --white: white;
  --lightTextGray: lightgray;
}

body {
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Anta', sans-serif;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  flex-direction: column;
  padding: 0px;
  background: linear-gradient(90deg, rgba(111,0,18,1) 0%, rgba(1,1,1,1) 100%);
}
.top {
  width: 100%;
  height: calc(225px * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  font-size: calc(25px * 1.5);
  text-shadow: 0 0 calc(18px * 1.5) red;
  color: crimson;
  margin-top: calc(20px * 1.5);
}
.sub {
  margin-top: calc(2px * 1.5);
  color: eggplant;
}
.utilts {
  margin-top: calc(20px * 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  width: 75%;
  text-align: center;
  background-color: var(--almostBlack);
  padding: calc(10px * 1.5);
  font-size: calc(15px * 1.5);
  box-shadow: inset 0 0 calc(5px * 1.5) calc(-1px * 1.5) black;
  color: lightgray;
  border-radius: calc(15px * 1.5);
  margin-top: calc(10px * 1.5);
}
.gameTileHolder {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  padding-top: calc(20px * 1.5);
}
.mid {
  width: 100%;
  height: calc(100% - 180px);
  display: flex;
  margin-bottom: calc(15px * 1.5);
}
.opts:hover {
  outline: calc(2px * 1.5) solid white;
  color: white;
}
.game-tile {
  display: flex;
  outline: calc(3px * 1.5) solid var(--textGray);
  transition: 125ms;
  outline-offset: calc(2px * 1.5);
  overflow: hidden;
  flex-direction: column;
  background-color: transparent;
  height: calc(100px * 1.5);
  width: calc(160px * 1.5);
  margin: calc(10px * 1.5);
  border-radius: calc(10px * 1.5);
}
input::placeholder {
  font-size: calc(14px * 1.5);
  color: lightgray;
  font-family: 'Anta', sans-serif;
}
input {
  font-size: calc(14px * 1.5);
  width: calc(275px * 1.5);
  box-shadow: inset 0 0 calc(5px * 1.5) calc(-1px * 1.5) black;
  font-family: 'Anta', sanns-serif;
  height: calc(30px * 1.5);
  padding-left: calc(10px * 1.5);
  background-color: var(--almostBlack);
  color: lightgray;
  transition: 200ms;
  outline: calc(2px * 1.5) solid var(--selectedGray);
  outline-offset: calc(1.5px * 1.5);
  border-radius: calc(25px * 1.5);
  border: none;
}
.opts {
  margin-left: calc(10px * 1.5);
  box-shadow: inset 0 0 calc(5px * 1.5) calc(-1px * 1.5) black;
  font-family: 'Anta', sanns-serif;
  display: flex;
  justify-content: center;
  width: calc(50px * 1.5);
  align-items: center;
  font-size: calc(14px * 1.5);
  height: calc(30px * 1.5);
  background-color: var(--almostBlack);
  color: lightgray;
  transition: 200ms;
  outline: calc(2px * 1.5) solid var(--selectedGray);
  outline-offset: calc(1.5px * 1.5);
  border-radius: calc(25px * 1.5);
  border: none;
}

.game-name {
  position: absolute;
  bottom: calc(-30px * 1.5);
  background-color: hsla(0, 0%, 9%, 0.75);
  width: 100%;
  font-size: calc(14px * 1.5);
  transition: 125ms;
  font-weight: bold;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(25px * 1.5);
  z-index: 100;
}

.game-image {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
}

.game-image img {
  width: 100%;
  height: 100%;
}
.game-tile:hover > .game-image > .game-name { 
  bottom: calc(0px * 1.5);
}
.game-tile:hover { 
outline: calc(3px * 1.5) solid white;
outline-offset: calc(2px * 1.5);
}
input:focus {
  outline: white calc(2px * 1.5) solid;
  outline-offset: calc(1.5px * 1.5);
}
.hidden {
  display: none;
}

