/*
.sge-popup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sge-inner-popup {
    width: 80%;
    height: 70%;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sge-inner-popup textarea {
    width: 90%;
    height: 75%;
    background-color: lightgray;
    resize: none;
}
.sge-close {
    background-color: red;
    color: white;
    padding: 18px;
}
.sge-launch {
    background-color: red;
    color: white;
    padding: 18px;
}
*/
