body {
  margin: 20px;
}
.sge-popup {
top: 0;
position: fixed; 
z-index: 100;
background-color: transparent;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
backdrop-filter: blur(10px);
}
.internal-popup {
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 0 25px 5px black;
  background-color: #161616;
  height: 50%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.internal-top {
display: flex;
width: 100%;
height: 35px;
border-bottom: #2A2A2A 1.5px solid;
}
.top-l {
width: 80%;
height: 100%;
color: white;
display: flex;
align-items: center;
justify-content: left;
padding-left: 10px;
font-family: arial;
}
.top-r {
width: 20%;
height: 100%;
display: flex;
align-items: center;
justify-content: right;
color: white;
padding-right: 5px;
font-family: arial;
}
.top-r span {
padding: 5px;
cursor: pointer;
transition: 150ms;
}
.top-r span:hover {
background-color: red;
border-radius: 5px;
} 
.popupcontent {
height: calc(100% - 35px);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
font-family: arial;
color: white;
}
          
